/* Estilos para el contenedor principal */
.PaginawebSignInFormDesktop {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
}

/* Estilos para el título "¡Sea bienvenido!<br/>Adopt Pet" */
.SeaBienvenidoAdoptPet {
    left: 75px;
    top: 114px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 48px;
    font-family: Jacques Francois;  
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 2px 2px 1px #b1afaf;
}

/* Estilos para el primer rectángulo */
.Rectangle1 {
    width: 330px;
    height: 58px;
    left: 85px;
    top: 297px;
    position: absolute;
    background: #EFE8E8;
    border-radius: 10px;
    box-shadow: 2px 2px 1px #b1afaf;
}

/* Estilos para el segundo rectángulo */
.Rectangle3 {
    width: 330px;
    height: 58px;
    left: 85px;
    top: 514px;
    position: absolute;
    background: #92E27A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 2px 2px 1px #b1afaf;
}

.Rectangle3:hover{
    top: 514px;
    animation: 3s;
    background-color: #00550b; 

}
/* Estilos para el tercer rectángulo */
.Rectangle2 {
    width: 330px;
    height: 58px;
    left: 85px;
    top: 412px;
    position: absolute;
    background: #EFE8E8;
    border-radius: 10px;
    box-shadow: 2px 2px 1px #b1afaf;
}

/* Estilos para los elementos de usuario */
.Usuario {
    left: 98px;
    top: 260px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Inknut Antiqua;
    font-weight: 400;
    word-wrap: break-word;
    font-size: 16px;

}
.Contraseña {
    left: 96px;
    top: 374px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Inknut Antiqua;
    font-weight: 400;
    word-wrap: break-word;
    font-size: 16px;
}


/* Estilos para "Email o nombre de usuario" */
.EmailONombreDeUsuario {
    width: auto;
    left: 99px;
    top: 316px;
    opacity: 50%;
    position: absolute;
    color: #333333;
    font-size: 14px;
    font-family: Inknut Antiqua;
    font-weight: 400;
    word-wrap: break-word;
    border: transparent;
    background: transparent;
    outline: none; 
}

/* Estilos para "Ingresar contraseña" */
.IngresarContraseA {
    width: 300px;
    left: 100px;
    top: 430px;
    position: absolute;
    color: #333333;
    font-size: 14px;
    font-family: Inknut Antiqua;
    font-weight: 400;
    word-wrap: break-word;
    width: auto;
    opacity: 50%;
    border: transparent;
    background: transparent;
    outline: none; 
}

/* Estilos para "Iniciar sesión" */
.IniciarSesiN {
    left: 189px;
    top: 530px;
    position: absolute;
    color: white;
    background-color: transparent;
    font-size: 20px;
    font-family: Inknut Antiqua;
    font-weight: 600;
    word-wrap: break-word;
    border: 0px;
    cursor: pointer;
}


/* Estilos para "Me olvide mi contraseña" */
.MeOlvideMiContraseA {
    left: 266px;
    top: 488px;
    position: absolute;
    color: #3B1CFF;
    font-size: 14px;
    font-family: Inknut Antiqua;
    font-weight: 400;
    word-wrap: break-word;
}

/* Estilos para "Cree uno ahora" */
.CreeUnoAhora {
    left: 297px;
    top: 682px;
    position: absolute;
    color: #3B1CFF;
    font-size: 14px;
    font-family: Inknut Antiqua;
    font-weight: 400;
    word-wrap: break-word;
}

/* Estilos para "Vector1" */
.Vector1 {
    width: 327.50px;
    height: 0px;
    left: 88.50px;
    top: 588px;
    position: absolute;
    border: 1px black solid;
}

/* Estilos para "O" */
.O {
    left: 243px;
    top: 607px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Inknut Antiqua;
    font-weight: 400;
    word-wrap: break-word;
}

/* Estilos para "No tiene una cuenta" */
.NoTieneUnaCuenta {
    left: 88px;
    top: 663px;
    position: absolute;
    color: #4A4A4A;
    font-size: 16px;
    font-family: Inknut Antiqua;
    font-weight: 400;
    word-wrap: break-word;
}

/* Estilos para "1" */
.Image2 {
    width: 97px;
    height: 89px;
    left: 208px;
    top: 64px;
    position: absolute;
}

/* Estilos para "Image1" */
.Image1 {
    width: 1200px;
    height: 820px;
    left: 474px;
    top: -30px;
    position: absolute;

}

.Vector3 {
    width: 46px;
    height: 67px;
    left: 300px;
    top: 608px;
    position: absolute;
    background: transparent;
}

/* Estilos para "Vector" */
.Vector2 {
    width: 67px;
    height: 67px;
    left: 145px;
    top: 608px;
    position: absolute;
    background: transparent;
}

/* Estilos para el segundo "Vector" */
.Vector:last-of-type {
    width: 66px;
    height: 67.35px;
    left: 291px;
    top: 608px;
    position: absolute;
    background: transparent;
    border: transparent;
}


.Group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.Vector4 {
    width: 35px;
    height: 29.60px;
    left: 357px;
    top: 424px;
    position: absolute;
    cursor: pointer;
}


.Vector4:hover {
    width: 35px;
    height: 29.60px;
    left: 357px;
    top: 424px;
    position: absolute;
    cursor: pointer;
}

