/* Estilos para el contenedor principal */
.PaginawebSignInFormDesktop {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
}

/* Estilos para el título "¡Sea bienvenido!<br/>Adopt Pet" */
.Recupera {
    left: 120px;
    top: 110px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 52px;
    font-family: Jacques Francois;  
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 2px 2px 1px #b1afaf;
    font-size: 48px;
}

.Rectangle11 {
    width: 330px;
    height: 58px;
    left: 85px;
    top: 300px;
    position: absolute;
    background: #EFE8E8;
    border-radius: 10px;
    box-shadow: 2px 2px 1px #b1afaf;
}


/* Estilos para el segundo rectángulo */
.Rectangle3 {
    width: 330px;
    height: 58px;
    left: 85px;
    top: 420px;
    position: absolute;
    background: #92E27A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 2px 2px 1px #b1afaf;
}

.Rectangle3:hover{
    top: 420px;
    animation: 3s;
    background-color: #00550b; 

}
/* Estilos para "Iniciar sesión" */
.IniciarSesiN {
    left: 160px;
    top: 438px;
    position: absolute;
    color: white;
    background-color: transparent;
    font-size: 20px;
    font-family: Inknut Antiqua;
    font-weight: 600;
    word-wrap: break-word;
    border: 0px;
    cursor: pointer;
}

.EmailPersonal {
    left: 96px;
    top: 260px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Inknut Antiqua;
    font-weight: 400;
    word-wrap: break-word;
    font-size: 16px;
}




.EmailONombreDeUsuario {
    width: auto;
    left: 99px;
    top: 322px;
    opacity: 50%;
    position: absolute;
    color: #333333;
    font-size: 14px;
    font-family: Inknut Antiqua;
    font-weight: 400;
    word-wrap: break-word;
    border: transparent;
    background: transparent;
    outline: none; 
}

.EmailONombreDeUsuario2 {
    width: auto;
    left: 99px;
    top: 308px;
    opacity: 50%;
    position: absolute;
    color: #333333;
    font-size: 14px;
    font-family: Inknut Antiqua;
    font-weight: 400;
    word-wrap: break-word;
    border: transparent;
    background: transparent;
    outline: none; 
}



.Texto {
    width: auto;
    left: 99px;
    top: 364px;
    position: absolute;
    color: #333333;
    font-size: 16px;
    font-family: Inknut Antiqua;
    font-weight: 400;
    word-wrap: break-word;
    border: transparent;
    background: transparent;
    outline: none; 
}

.NoTieneUnaCuenta {
    left: 88px;
    top: 663px;
    position: absolute;
    color: #4A4A4A;
    font-size: 16px;
    font-family: Inknut Antiqua;
    font-weight: 400;
    word-wrap: break-word;
}

/* Estilos para "1" */
.Image2 {
    width: 140px;
    height: 140px;
    left: 180px;
    top: 10px;
    position: absolute;
}

/* Estilos para "Image1" */
.Image1 {
    width: 1200px;
    height: 820px;
    left: 474px;
    top: -30px;
    position: absolute;

}



/* Estilos para el segundo "Vector" */
.Vector:last-of-type {
    width: 66px;
    height: 67.35px;
    left: 291px;
    top: 608px;
    position: absolute;
    background: transparent;
    border: transparent;
}





