/* Estilos para el contenedor principal */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&family=Jacques+Francois&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jacques Francois', serif;


    background-color: #333333;
    opacity: 1;
    background-image:  radial-gradient(#92E27A 0.8px, transparent 0.8px), radial-gradient(#92E27A 0.8px, #333333 0.8px);
    background-size: 32px 32px;
    background-position: 0 0,16px 16px;

    display: flex;
    min-height: 100vh;
}


.PaginawebSignInFormDesktop {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
}
.form{
    background-color: white;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0/30%);
    text-align: center;
}

.form_title{
    font-size: 2rem;
    margin-bottom: .5em;
}
.form_paragrapgh{
    font-weight: 300;
}
.Home{
    padding-left: 10px;
    border-radius: 1000px;
}
.Logo{
    height: 60px;
    border-radius: 150px;
    box-shadow: 2px 2px 6px #333333;
}
.form_link{
    font-weight: 400;
    color: #333333;
}

.form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form_group{
    position: relative;
    --color: #575757e;
}

.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Jacques Francois', serif;
}
.form_input:focus + .form_label, .form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3c9821;
}
.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s,color .3s;
}

.form_submit{
    background-image: linear-gradient(3deg,#cdf2c0,#72d256);
    color: #333333;
    font-family: Jacques Francois, serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cdf2c0;
    transform: scale(0);
    transition: transform .4s;
}

.form_input:focus ~ .form_line, .form_input:not(:placeholder-shown) ~ .form_line{
    transform: scale(1);
}

@media (max-width: 480px){
    .form_title{
        font-size: 1.8rem;
    }
}