*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Jacques Francois, serif;
}
body::-webkit-scrollbar{
    width: 10px;
    background: transparent;
}
body::-webkit-scrollbar-thumb{
    background: #888;
    border-color: #333  ;
    border-radius: 8px;
    animation: 2s;
}
body::-webkit-scrollbar-thumb:hover{
    background: #333333;
    animation: 2s;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Progress bar */
#progress-bar {
    --scrollAmount: 0%;

    background-image: linear-gradient(120deg, #333 0%, #333 100%);
    width: var(--scrollAmount);
   /*  background: linear-gradient(to right, #F24E1E var(--scrollAmount), transparent 0);
    width: 100%; */
    height: 6px;
    position: fixed;
    top: 0;
    transition: 1s;
    border-radius: 3px;
}
nav{
    background-image: linear-gradient(30deg, #92E27A, #2a5f1c);
    height: 80px;
    width: 100%;
    box-shadow: 3px 3px 20px #92E27A;
}
.Home{
    position: absolute;
    left: 20px;
    top: 10px;
   }
.Logo{
    height: 60px;
    border-radius: 150px;
    box-shadow: 2px 2px 6px #333333;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.SearchBar {
    width: 500px;
    height: 50px;
    left: 15%;
    top: 15px;
    position: absolute;
    background: #EFE8E8;
    border-radius: 16px;
    box-shadow: 2px 2px 1px #b1afaf;
    border: 2px;
}
.Lup{
    left: 90%;
    top: 20%;
    width: 7%;
    position: absolute;
    cursor: pointer;
}
.Animal{

    width: 430px;
    height: 58px;
    left: 16%;
    top: 10px;
    opacity: 50%;
    position: absolute;
    color: #333333;
    font-size: 18px;
    font-family: Jacques Francois, serif;
    font-weight: 400;
    word-wrap: break-word;
    border: transparent;
    background: transparent;
    outline: none;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    color: #888888;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
    font-family: Jacques Francois, serif;
    text-shadow:4px 4px 10px  #333333 ;

}
li a:hover{
    background: #333333;
    transition: 2s;
}
.menu{

}
.IniciarSesion{
    background-image: linear-gradient(30deg, #4f4f4f, #333333);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 20px;
    font-family: Jacques Francois, serif;
    box-shadow:2px 2px 2px  #333333 ;
    transition: 1s;
}
.IniciarSesion:hover{
    background-image: linear-gradient(30deg, #bdbdbd, #ffffff);
    color: #333333;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 20px;
    font-family: Jacques Francois,serif;
    box-shadow:2px 2px 2px  #333333 ;
    transition: 1s;
    text-shadow:1px 1px 2px  #333333 ;

}
section.banner{
    background: linear-gradient(to left, #f5fcf1,#cdf2c0);
    padding: 3rem 0;
}


.containerB{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    grid-gap: 2rem;

}
.col1{
    display: flex;
    align-items: center;
    justify-content: center;

}
.imgBanner{
    width: 100%;
    border-radius: 14px;
    box-shadow: 6px 6px 10px #333333;
}
.col2{
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    font-family: Jacques Francois, serif;

}
h1{
    font-size: 2rem;
    color: #92E27A;
    text-shadow:1px 1px 2px  #333333 ;

}
#txtBanner{
    margin: 2rem 0;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: justify;

}
.btnBanner{
    background-image: linear-gradient(30deg, #4f4f4f, #333333);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 20px;
    font-family: Jacques Francois,serif;
    box-shadow:2px 2px 2px  #333333 ;
    text-shadow:3px 3px 2px  #333333 ;
    transition: 3s;

}
.btnBanner:hover{
    background-image: linear-gradient(30deg, #92E27A, #2a5f1c);
    transition: 6s;

}

/*SECTION SERVICE*/
.services{
    padding: 3rem 0;
}
.subServices{
    text-align: center;
    padding-bottom: 2rem;
    color: #4c4c4c;
}
.subServices h2{
    font-size: 40px;
    font-family: Jacques Francois, serif;
}
.containerS{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem, 1fr));
    grid-gap: 2rem;
}
.boxS{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 50px 5px rgb(0 0 0 /10%);
    border-radius: 30px;
}
.boxS img{
    width: 80%;
    border-radius: 20px;
    box-shadow: 2px 2px 18px #333333;
    transition: 1s;
}
.boxS img:hover{
    width: 90%;
    border-radius: 20px;
    box-shadow: 2px 2px 18px #333333;
    transition: 1s;
}
.boxS h3{
    color: #92E27A;
    font-size: 40px;
    border: #333333 3px;
}
h3{
    color: #4c4c4c;
    margin: 10px 0;
}
.boxS p{
    text-align: center;
}

/*SECTION PORTAFOLIO*/
.portafolio{
    padding: 3rem 0;
}
.TextHelp{
    font-size: 18px;
    font-family: Jacques Francois, serif;
    justify-content: left;

    position: relative;
}
.subPortafolio{
    text-align: center;
    padding-bottom: 2rem;
    color: #4c4c4c;

}
.subPortafolio h2 {
    font-size: 40px;
    font-family: Jacques Francois, serif;
    color: #333333;
    text-shadow: 2px 2px 4px #888888;

}
.containerP{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem, 1fr));
    grid-gap: 2rem;
    background: #F3FFF1;

}
.boxP{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 55px 5px rgba(32, 86, 43, 25%);
    background:#cdf2c0;
    border-radius: 26px;
}
.boxP img{
    width: 400px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #4c4c4c;
    transition: 1s;
}
.boxP img:hover{
    width: 410px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #4c4c4c;
    transition: 1s;
}
h3{
    color: #4c4c4c;
    margin: 10px 0;
    transition: 1s;


}
h3:hover{
    margin: 10px 0;
    color: #92E27A;
   transition: 1s;

}
.boxP p{
    text-align: center;
    transition: 1s;
}
.boxP p:hover{
    text-align: center;
    color: #92E27A;
    transition: 1s;
}


<!---->
.containerQ{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem, 1fr));
    grid-gap: 2rem;

}
.faq {

    padding: 3rem 0;
    text-align: center;
}
.faq-question {

    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 55px 5px rgb(0 0 0 /6%);
    border-radius: 30px;
    background: #F3FFF1;
}
.faq-question h2 {
    font-size: 40px;
    font-family: Jacques Francois, serif;
}
.faq-item {
    background: #ffffff;
    opacity: 100%;
    margin: 2rem 0;
    text-align: left;
    transition: 1s;
    border-radius: 20px;
    width: 300px;
    font-size: 18px;

}
.faq-item h3 {
    color: #0e2b08;
    font-size: 18px;
    margin: 10px 0;
    transition: 1s;
    font-weight: 900;
    background-image: linear-gradient(45deg, #cdf2c0, #72d256);
    padding: 18px;
    border-radius: 30px;
    box-shadow: 1px 1px 55px 5px rgb(0 0 0 /18%);
}
.faq-item h3:hover {
    color: #92E27A;
}
.faq-item p {
    padding: 1rem 1rem;
    color: transparent;
    border-radius: 30px;
    transition: 1s;
    box-shadow: 1px 1px 55px 5px rgb(0 0 0 /18%);


}
.faq-item p:hover {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 55px 5px rgb(0 0 0 /18%);
    border-radius: 30px;
    color: #333333;
    transition: 2s;
}

.PetLogo{
    border-radius: 130px;

}
/*Pie de Pagina - Footer*/
footer{
    background-image: linear-gradient(30deg, #262626, #333333);
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}
.pie-pagina{
    width: 100%;
    background-image: linear-gradient(30deg, #262626, #333333);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 1px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-top: 10px;
    background-color: transparent;
    text-align: center;
    transition: all 300ms ease;

}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #92E27A;
}
.pie-pagina .grupo-2{
    background-color: #4c4c4c;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
.M1,.M2,.M3,.M4{
    color: #92E27A;
}
.M1,.M2,.M3,.M4:hover{
    color: #3B1CFF;
}

/*Tablet*/
@media (max-width: 480px){
body{
        padding: 0 0 0;
    }
header{
      height: 60px;
    }
nav{
        width: 100%;
    }
.Home{
        padding-left: 10px;
        border-radius: 1000px;
    }
nav ul{
    float: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    background-color: #4F7E41;
    position: fixed;
    top: 80px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 1000%;
    transition: left 0.3s;
}
nav ul li{
   float: none;
   justify-content: center;
   align-content: center;
   left: 40%;
}
nav ul li a{
        color: #fff;
        font-size: 16px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: capitalize;
        font-family: Jacques Francois, serif;
        text-shadow:4px 4px 10px  #333333 ;

    }
nav ul li a:hover {
        color: rgba(192,255,105,0.77);
        background: #333333;
        transition: 0.5s;
 }
.checkbtn{
display: block;
}
.MenuDesplegableVisible{
left: 0;
}


.SearchBar{
        display: none;
    }
.Animal{
        display: none;
    }
.Pet{
display: none;
}
.FotoLogo{
    display: none;
}
.Contacto{
    float: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.Siguenos{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.red-social{
    top: auto;
    float: none;
    display: block;
    flex-direction: column;
    align-items: baseline;
    content: none;
    margin: 20px;
    padding: 10px;
}

.TextHelp{
        margin: 30px;
        font-size: 18px;
        font-family: Jacques Francois, serif;
        justify-content: left;

        position: relative;
    }
.subPortafolio h2{
    color: #2a5f1c;
    margin: 15px;
}
.subServices p{
    margin: 20px;
}
.portafolio img{
    width: 95%;
}
    .portafolio img:hover{
        width: 98%;
    }
.containerQ{
    float: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

}